/* Adapted from https://www.developerdrive.com/full-page-hero-image-html-css/ */

body {
    margin: 0;
    padding: 0;
 }
 .hero {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../../images/banner.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: brightness(40%);
 }
.hero-content {
   position: relative;
   color: white;
   text-align: center;
   margin: 0.625rem;
}

.hero-content h2 {
   font-size: 0.8rem;
   border-bottom: 0;
}
 
.hero-content h1 {
   font-size: 1.4rem;
   border-bottom: 1px solid white;
   border-top: 1px solid white;
   padding: 10px 0 10px 0;
   margin-bottom: 40px;
}

@media(min-width: 376px) {
   .hero-content h1 {
      font-size: 2rem;
   }
   .hero-content h2 {
      font-size: 1.2rem;
   }
}

@media(min-width: 600px) {
   .hero-content h1 {
      font-size: 3rem;
   }
   .hero-content h2 {
      font-size: 1.4rem;
   }
}

 .hero-button {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    margin-top: 4rem;
    padding: 0.9375rem1.875rem;
    font-size: 1.125rem;
    font-weight: 200;
    cursor: pointer;
 }
 .hero-button:hover {
    background-color: #1fb2e5;
    /*border: 1px solid #db7598;*/
 }
